html {
	background-color: #fafafa; /* with #f3f3f3 overall contrast is pretty low */
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
}

html, body {
	margin: 0;
	height: 100%;
}

#wrap {
	margin: auto;
	min-height: 100%;
	width: 1050px;
	padding-left: 10px;
	padding-right: 10px;
}

#article, .category {
	border: 1px solid #ccc;
	border-radius: 12px;
	background-color: #fff;
	/* box-shadow: 0 0 7px #e3e3e3; */
}

#side {
	position: relative;
	float: left;
	margin-left: 800px;
	top: 33px;
	height: 0;
	width: 0;
}

#content {
	position: relative;
	float: left;
	padding-top: 28px;
	padding-bottom: 60px;
}

.category {
	border-radius: 8px;
	display: block;
	position: relative;
	top: 30px;
	width: 200px;
	height: auto;
	margin-bottom: 8px;
}

.category-name {
	background-color: #fafafa;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 1px solid #ccc;
	padding: 9px;
	text-align: center;
	display: block;
	color: #838181;
}

.category-name:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.category-name:hover {
	color: #3a9cff;
	background-color: #f3f3f3;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.category-name:last-child:hover {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.category-name:last-child, .category-article:last-child {
	border-bottom: 0;
}

.category-article {
	display: block;
	padding: 9px;
	padding-left: 18px;
	padding-right: 18px;
	border-bottom: 1px solid #e3e3e3;
}

.category-article:hover {
	background-color: #fafafa;
}

.category-article:last-child:hover {
	background-color: #fafafa;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

h1, h2, h3, strong {
	/* weight 600 with #4e4e4e also nice */
	font-weight: 500;
	text-align: left;
	color: #2d2d2d;
}

h1 {
	font-size: 1.9em;
	margin-left: -2px;
	padding-bottom: 5px;
	border-bottom: 1px solid #d2d2d2;
}

.article-title {
	display: block;
	color: #2d2d2d;
}

.article-title:hover {
	color: #3a9cff;
}

.current-item {
	font-weight: bold;
}

h2 {
	margin-top: 50px;
	margin-bottom: 5px;
	font-size: 1.7em;
	/*border-bottom: 1px dashed #e3e3e3;*/
}

h2:nth-child(2) {
	margin-top: 30px;
}

h2 i {
	font-size: .5em;
}

h3 {
	margin-top: 30px;
	font-size: 1.35em;
}

#article {
	width: 700px;
	margin-bottom: 45px;
	/*margin-top: 10px;*/
	padding: 35px;
	padding-top: 3px;
	padding-bottom: 17px;
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	font-size: 1.2em;
	color: #464646;
}

p {
	line-height: 1.4em;
}

blockquote {
	margin-left: 2px;
	padding-left: 8px;
	border-left: 3px solid #d6d6d6;
	color: #999;
}

center img {
	margin-top: 8px;
	max-width: 600px;
	border-radius: 4px;
}

.thumb {
    display: inline-block;
    width: 300px;
    margin-top: 0;
    margin-right: 1%;
    margin-bottom: 1em;
}

a > img:hover {
	-webkit-filter: brightness(95%);
}

#footer {
	clear: both;
	position: relative;
	z-index: 10;
	height: 50px;
	margin-top: -50px;
	text-align: center;
	color: #969696;
}

.indent {
	margin-left: 15px;
}

a {
	color: #3a9cff;
	text-decoration: none;
}

a:hover {
	color:#f04242;
}

.button {
	border: 1px solid #3a9cff;
	border-radius: 3px;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
}

.button:hover {
	color: #fff;
	background-color: #3a9cff;
}

.gray {
	color: #a0a0a0;
}

.gray:hover {
	color: #3a9cff;
}

#logo {
	padding-top: 8px;
}

#logo > a {
	border-bottom: none;
	font-size: 3em;
	color: #888;
    transition: .2s;
    font-weight: 200;
    font-family: "Helvetica Neue", sans-serif;
}

#logo > a:hover {
	color: #3a9cff;
}

table {
	border-collapse: separate !important;
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
	border: solid #ccc 1px;
	border-radius: 5px;
}

th {
	background-color: #f3f3f3; /* was #ececec */
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f8f8f8, #ececec);
	background-image: -moz-linear-gradient(top, #f8f8f8, #ececec);
	background-image: linear-gradient(top, #f8f8f8, #ececec);*/
	border-top: none;
	/*text-shadow: 0 1px 0 #fff;*/
}

td, th {
	padding: 10px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	min-width: 35px;
}

th {
	border-top: none;
}

td:first-child, th:first-child {
	border-left: none;
}

th:first-child {
	border-radius: 5px 0 0 0;
}

th:last-child {
	border-radius: 0 5px 0 0;
}

th:only-child{
	border-radius: 6px 6px 0 0;
}

tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
}

tr {
	border-radius: 0 0 5px;
}

thead {
	text-align: center;
	background-color: #f9f9f9;
}

tr:nth-child(even) {
	background-color: #fbfbfb;
}

tr:hover {
	background: #e3f0fd;
}

pre, code {
	font-family: Monaco, Menlo, Consolas, 'Liberation Mono', monospace;
}

pre {
    border-style: solid;
    border-width: 1px;
    border-color: #bbb;
    background-color: #f8f8f8;
	font-size: 14px;
	padding: 8px;
    margin: 8px;
	white-space: pre;
	border-radius: 5px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

p > code {
	padding: 2px 4px;
    font-size: 90%;
    color: #c72525;
    white-space: nowrap;
    background-color: #ffeff2;
    border-radius: 4px;
}

ul {
	line-height: 1.4em;
}

#ascii {
	width: 565px;
	border-radius: 5px;
	background-color: #000;
	padding: 10px
}

@media(max-width:1000px) {
	html {
		font-size: 2.5em;
	}
	
	#wrap {
		width: auto;
		display: inline;
		margin-left: 3%;
		margin-right: 3%;
	}
	
	#side {
		position: static;
		width: auto;
		float: none;
		background-color: blue;
		display: inline;
	}
	
	#article {
		width: auto;
		margin-left: 3%;
		margin-right: 3%;
		border-width: 3px;
	}
	
	#content {
		position: static;
		padding-top: 28px;
		padding-bottom: 60px;
		float: none;
		display: inline;
	}
	
	#logo {
		font-size: 1em;
		text-align: center;
		margin-top: -3%;
	}
	
	#logo > a {
		color: #555;
	}
	
	.category {
		width: auto;
		margin-left: 3%;
		margin-right: 3%;
		font-size: 1.2em;
		border-width: 3px;
	}
	
	.category-name, .category-article {
		border-width: 3px;
	}
	
	a {
		color: #3a9cff;
	}
	
	code {
		font-size: 3em;
	}
	
	center img {
		max-width: 100%;
	}
}
